@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-3;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#111111] py-px;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-4 border-solid border-[#111111] bg-zinc-600;
  }
}
